{
  "type": "minecraft:crafting_shaped",
  "group": "terracotta_fences",
  "pattern": [
    "#-#",
    "#-#"
  ],
  "key": {
    "#": {
      "item": "minecraft:{{ name }}"
    },
    "-": {
      "item": "{{ modid }}:{{ name }}_slab"
    }
  },
  "result": {
    "item": "{{ modid }}:{{ name }}_fence",
    "count": 6
  },
  "conditions": [
    {
      "type": "{{ modid }}:flag",
      "flag": "fences"
    }
  ]
}