{
  "type": "minecraft:stonecutting",
  "ingredient": {
    "item": "minecraft:{{ name }}"
  },
  "result": "{{ modid }}:{{ name }}_wall",
  "count": 1,
  "conditions": [
    {
      "type": "{{ modid }}:flag",
      "flag": "walls"
    }
  ]
}