{
    "variants": {
        "facing=south": { "model": "{{ modid }}:block/{{ name }}_tile" },
        "facing=west": { "model": "{{ modid }}:block/{{ name }}_tile", "y": 90 },
        "facing=north": { "model": "{{ modid }}:block/{{ name }}_tile", "y": 180 },
        "facing=east": { "model": "{{ modid }}:block/{{ name }}_tile", "y": 270 }
    }
}
