{
  "type": "minecraft:crafting_shaped",
  "group": "terracotta_fence_gates",
  "pattern": [
    "#W#",
    "#W#"
  ],
  "key": {
    "#": {
      "item": "{{ modid }}:{{ name }}_slab"
    },
    "W": {
      "item": "minecraft:{{ name }}"
    }
  },
  "result": {
    "item": "{{ modid }}:{{ name }}_fence_gate"
  },
  "conditions": [
    {
      "type": "{{ modid }}:flag",
      "flag": "fences"
    }
  ]
}