{
  "type": "minecraft:crafting_shapeless",
  "ingredients": [
    {
      "item": "minecraft:{{ name }}"
    }
  ],
  "result": {
    "item": "{{ modid }}:{{ name }}_button"
  },
  "conditions": [
    {
      "type": "{{ modid }}:flag",
      "flag": "buttons"
    }
  ]
}