{
  "variants": {
    "facing=north": { "model": "{{ modid }}:block/{{ name }}_ladder"          },
    "facing=south": { "model": "{{ modid }}:block/{{ name }}_ladder", "y":180 },
    "facing=west":  { "model": "{{ modid }}:block/{{ name }}_ladder", "y":270 },
    "facing=east":  { "model": "{{ modid }}:block/{{ name }}_ladder", "y":90  }
  }
}