{
    "variants": {
        "type=bottom,facing=south": { "model": "{{ modid }}:block/{{ name }}_slab" },
        "type=top,facing=south": { "model": "{{ modid }}:block/{{ name }}_slab_top" },
        "type=double,facing=south": { "model": "block/{{ name }}" },
        "type=bottom,facing=west": { "model": "{{ modid }}:block/{{ name }}_slab", "y": 90 },
        "type=top,facing=west": { "model": "{{ modid }}:block/{{ name }}_slab_top", "y": 90 },
        "type=double,facing=west": { "model": "block/{{ name }}", "y": 90 },
        "type=bottom,facing=north": { "model": "{{ modid }}:block/{{ name }}_slab", "y": 180 },
        "type=top,facing=north": { "model": "{{ modid }}:block/{{ name }}_slab_top", "y": 180 },
        "type=double,facing=north": { "model": "block/{{ name }}", "y": 180 },
        "type=bottom,facing=east": { "model": "{{ modid }}:block/{{ name }}_slab", "y": 270 },
        "type=top,facing=east": { "model": "{{ modid }}:block/{{ name }}_slab_top", "y": 270 },
        "type=double,facing=east": { "model": "block/{{ name }}", "y": 270 }
    }
}
