{
  "type": "minecraft:stonecutting",
  "ingredient": {
    "item": "minecraft:{{ name }}"
  },
  "result": "{{ modid }}:{{ name }}_slab",
  "count": 2,
  "conditions": [
    {
      "type": "{{ modid }}:flag",
      "flag": "slabs"
    }
  ]
}